<div class="jumbotron text-center">
  <h2><%= t("activerecord.models.question") %><%= t("crud.index") %></h2>
</div>
<div class="container">
  <ul class="list-group">
    <% @questions.each do |question| %>
      <%= link_to question_path(question), class: "link_to_question" do %>
        <li class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-sm-2">
              <%= question.task.title %><br>
              <%= question.task.staff.name %><br>
              <% if question.task.staff.icon.attached? %>
                <%= image_tag question.task.staff.icon.variant(resize:'50x50').processed %>
              <% end %>
            </div>
            <div class="col-sm-10">
              <div>
                <div>

                </div>
                <div>
                  <strong><%= t("activerecord.models.drawing") %>:</strong><%= question.task.drawing.title %>
                </div>
                <div>
                  <strong><%= t("activerecord.models.task") %>:</strong><%= question.task.title %>
                </div>
                <strong><%= question.title %></strong>
                <span>
                  <object>
                    <div id="likes_buttons_<%= question.id %>">
                      <%= render partial: 'likes/like', locals: { question: question } %>
                    </div>
                  </object>
                </span>
              </div>
              <div>
                <%= question.content.truncate(30) %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
