<div class="jumbotron text-center">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4><%= @question.title %></h4>
      </div>
      <div class="card-body text-left">
        <%= @question.content %>
        <%= @question.attachment %>
        <div id="likes_buttons_<%= @question.id %>">
          <%= render partial: 'likes/like', locals: { question: @question } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render partial: 'comments/form', locals: { comment: @comment, question: @question } %>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, question: @question } %>
  </div>
</div>
