<div class="jumbotron text-center">
  <h1 id="chat" data-team_id="<%= @team.id %>" data-user_id="<%= current_user.id %>">
    <%= @team.name %>チャットルーム
  </h1>
</div>

<div class="container">
  <form>
    <label>Say something:</label><br>
    <input type="text" data-behavior="team_speaker", placeholder="new message">
  </form>
  <div id="messages_<%= @team.id %>">
    <ul class="list-group">
      <%= render @messages %>
    </ul>
  </div>
</div>
