<div class="jumbotron text-center">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="card-body">
          <% if @team.icon.attached? %>
            <%= image_tag @team.icon.variant(resize:'100x100').processed, class: "team_image" %>
          <% end %>
          <h5 class="card-title"><%= @team.name %></h5>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body text-left">
          <h5 class="card-title border-bottom"><%= t("activerecord.attributes.team.profile") %></h5>
          <p class="card-text"><%= simple_format(@team.profile) %></p>
          <p class="card-text"><small><%= link_to "チーム編集", edit_team_path %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div id="members_form">
        <%= render partial: 'team_assigns/form', locals: { team: @team, team_assign: @team_assign } %>
      </div>

      <div class="card">
        <div class="card-header text-center">
          <%= t("activerecord.attributes.team.members") %>
        </div>
        <div id="members_area">
          <%= render partial: 'team_assigns/index', locals: { team: @team } %>
        </div>
      </div>

      <%= link_to t("activerecord.models.drawing")+t("crud.new"), new_drawing_path(team_id: @team.id), class: "btn btn-primary btn-block mt-2 mb-1" %>
      <div class="card">
        <div class="card-header text-center">
          図面一覧
        </div>
        <div class="card-body text-center">
          図面
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          担当タスク
        </div>
        <ul class="list-group">
          <% @team.drawings.each do |drawing| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2">
                  <strong><%= t("activerecord.attributes.task.status") %>:</strong>
                </div>
                <div class="col-md-10">
                  <%= drawing.title %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="card">
        <div class="card-header text-center">
          承認タスク
        </div>
        <ul class="list-group">
          <% @team.drawings.each do |drawing| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2">
                  <strong><%= t("activerecord.attributes.task.status") %>:</strong>
                </div>
                <div class="col-md-10">
                  <%= drawing.title %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="card">
        <div class="card-header text-center">
          カレンダー
        </div>
        <div class="card-body">
          カレンダー中身
        </div>
      </div>
    </div>
  </div>
</div>
