<div class="message">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">
        <% if message.user.icon.attached? %>
          <%= image_tag message.user.icon.variant(resize:'50x50').processed %>
        <% end %>
        <p><%= message.user.name %></p>
      </div>
      <div class="col-md-10">
        <small class="text-muted"><%= l message.created_at, format: :short %></small><br>
        <div class="hidden" id="message_id"><%= message.id %></div>
        <div class="hidden" id="message_user_id"><%= message.user.id %></div>
        <small class="text-muted">
          既読
        </small>
        <small class="text-muted" id="message_read_count_<%= message.id %>">
          <%=message.has_read_users.count %>
        </small>
        <small class="text-muted" id="message_read_users_<%= message.id %>">
          : <%= message.has_read_users.map{ |user| user.name }.join("/") %>
        </small><br>
        <%= message.content %>
      </div>
    </div>
  </li>
</div>
