<div class="container">
  <% if @drawing.errors.any? %>
    <ul>
      <% @drawing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with(model: @drawing, local: true) do |form| %>
    <div class="form-group">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :drawing_number %>
        <%= form.number_field :drawing_number, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :explanation %>
        <%= form.text_area :explanation, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label :project_id %>
        <%= form.select :project_id, current_user.company.projects.map{ |project| [project.name, project.id] if project.id }, prompt: "選択してください" %>
      </div>
      <div class="field">
        <%= form.label :category_ids %>
        <% current_user.company.categories.each do |category| %>
          <%= form.check_box :category_ids, { multiple: true, checked: category[:checked], disabled: category[:disabled], include_hidden: false }, category[:id] %>
          <%= category.name %>
        <% end %>
      </div>
      <div class="field">
        <%= form.hidden_field :team_id, value: @drawing.team_id %>
      </div>
      <%= form.submit t("submit"), class: "btn btn-primary", id: "drawing_submit_btn" %>
    </div>
  <% end %>
</div>
