<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t("activerecord.models.customer") %></th>
      <th><%= t("activerecord.models.project") %></th>
      <th><%= t("activerecord.models.category") %></th>
      <th><%= t("activerecord.models.team") %></th>
      <th><%= t("activerecord.attributes.drawing.title") %></th>
      <th><%= t("activerecord.attributes.drawing.drawing_number") %></th>
    </tr>
  </thead>
  <tbody>
    <% drawings.each do |drawing| %>
      <tr>
        <td><%= link_to drawing.project.customer.name, customer_path(drawing.project.customer) %></td>
        <td><%= link_to drawing.project.name, project_path(drawing.project) %></td>
        <td>
          <%= drawing.categories.map{|category| category.name }.join("/") %>
        </td>
        <td><%= drawing.team.name %></td>
        <td><%= link_to drawing.title, drawing_path(drawing) %></td>
        <td><%= drawing.drawing_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
