<%= search_form_for @q do |form| %>
<div class="field">
  <%= form.label :customer_id_eq, "客先" %>
  <%= form.collection_select :customer_id_eq, @customers, :id, :name, include_blank: "指定なし" %>
</div>
  <div class="field">
    <%= form.label :project_id_eq, "プロジェクト" %>
    <%= form.collection_select :project_id_eq, @projects, :id, :name, include_blank: "指定なし" %>
  </div>
  <div class="field">
    <%= form.label :category_id_in, "カテゴリー" %>
    <%= form.collection_check_boxes :categories_id_in, @categories, :id, :name %>
  </div>
  <div class="field">
    <%= form.label :team_id_eq, "チーム" %>
    <%= form.collection_select :team_id_in, @teams, :id, :name, include_blank: "指定なし" %>
  </div>
  <div class="field">
    <%= form.label :title, "図名" %>
    <%= form.search_field :title_cont %>
  </div>

  <%= form.submit "検索" %>
<% end %>
