<div class="field">
  <%= link_to t("activerecord.models.revision")+t("crud.new"), new_revision_path(revision_number: @drawing.revisions.count,
      drawing_id: @drawing.id), class: "btn btn-primary btn-block mb-1" %>
</div>
<ul class="list-group">
  <% sort_by_revision_number(@drawing.revisions).each do |revision| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <%= render partial: 'revisions/list_body', locals: { revision: revision } %>
        </div>
        <div class="col-md-10">
          <h5><%= t("activerecord.attributes.revision.tasks") %></h5>
          <div id="revision_assign_area_<%= revision.id %>">
            <%= render partial: 'tasks/table', locals: { tasks: revision.tasks } %>
          </div>
          <div id="revision_assign_form_<%= revision.id %>">
            <%= render partial: 'tasks/revision_assign', locals: { revision: revision } %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
