<div class="jumbotron text-center">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4><%= @drawing.title %></h4>
      </div>
      <table class="table mb-0 table-bordered">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.drawing.drawing_number") %></th>
            <th><%= t("activerecord.attributes.customer.name") %></th>
            <th><%= t("activerecord.attributes.project.name") %></th>
            <th><%= t("activerecord.attributes.category.name") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @drawing.drawing_number %></td>
            <td>重工業</td>
            <td>沖縄BTG発電所</td>
            <td>配管図</td>
          </tr>
        </tbody>
      </table>
      <div class="card-body text-left">
        <div class="field">
          <%= t("activerecord.attributes.drawing.drawing_number") %>:<%= @drawing.drawing_number %>
        </div>
        <div class="field">
          <%= @drawing.explanation %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="text-center">更新履歴</h3>
  <div class="field">
    <%= link_to t("activerecord.models.revision")+t("crud.new"),
        new_revision_path(revision_number: @drawing.revisions.count, drawing_id: @drawing.id) %>
  </div>
  <table class="table">
    <%= render 'revisions/table_head' %>
    <tbody>
      <%= render partial: 'revisions/table_body', collection: sort_by_revision_number(@drawing.revisions), as: "revision" %>
    </tbody>
  </table>
  <div class="field">
    <%= link_to t("activerecord.models.task")+t("crud.new"),
        new_task_path(drawing_id: @drawing.id) %>
  </div>
  <table class="table">
    <%= render 'tasks/table_head' %>
    <tbody>
      <%= render partial: 'tasks/table_body', collection: @drawing.tasks, as: "task" %>
    </tbody>
  </table>
</div>
