<h2><%= t("activerecord.models.drawing") %><%= t("crud.show") %></h2>
<div class="field">
  <%= t("activerecord.attributes.drawing.title") %>:<%= @drawing.title %>
</div>
<div class="field">
  <%= t("activerecord.attributes.drawing.drawing_number") %>:<%= @drawing.drawing_number %>
</div>
<div class="field">
  <%= t("activerecord.attributes.drawing.explanation") %>:<%= @drawing.explanation %>
</div>
