<div class="jumbotron text-center">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4><%= @drawing.title %></h4>
      </div>
      <table class="table mb-0 table-bordered table-sm">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.drawing.drawing_number") %></th>
            <th><%= t("activerecord.attributes.customer.name") %></th>
            <th><%= t("activerecord.attributes.project.name") %></th>
            <th><%= t("activerecord.attributes.category.name") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @drawing.drawing_number %></td>
            <td><%= @drawing.project.customer.name %></td>
            <td><%= @drawing.project.name %></td>
            <td>
              <%= @drawing.categories.map{|category| category.name }.join("/") %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-body text-left">
        <%= simple_format(@drawing.explanation) %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a href="#card1" class="nav-link active" data-toggle="tab">レビジョン</a>
        </li>
        <li class="nav-item">
          <a href="#card2" class="nav-link" data-toggle="tab">タスク</a>
        </li>
        <li class="nav-item">
          <a href="#card3" class="nav-link" data-toggle="tab">カレンダー</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="card1" class="tab-pane active">
          <%= render "show_card1" %>
        </div>
        <div id="card2", class="tab-pane">
          <%= render "show_card2" %>
        </div>
        <div id="card3", class="tab-pane text-left">
          <div id="events_calendar">
            <%= render partial: "calendars/calendar", locals: {tasks: @drawing.tasks } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
