<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, t("task.label.title") %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :status, t("task.label.status") %>
    <%= form.select :status, Task.statuses.keys.map { |k| [I18n.t("task.status.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= form.label :deadline, t("task.label.deadline") %>
    <%= form.datetime_select :deadline, {} %>
  </div>
  <div class="field">
    <%= form.label :content, t("task.label.content") %>
    <%= form.text_area :content %>
  </div>
  <%= form.submit t("task.submit") %>
<% end %>
