<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map { |k| [I18n.t("activerecord.attributes.task.enum.#{k}"), k]} %>
  </div>
  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="field">
    <%= form.label :staff_id %>
    <%= form.collection_select :staff_id, @drawing.team.members, :id, :name, prompt: "選択してください", class: "custom-select" %>
  </div>
  <div class="field">
    <%= form.label :approver_id %>
    <%= form.collection_select :approver_id, @drawing.team.members, :id, :name, prompt: "選択してください", class: "custom-select" %>
  </div>
  <div class="field">
    <%= form.hidden_field :drawing_id, value: @task.drawing_id %>
  </div>
  <%= form.submit t("submit") %>
<% end %>
