<style type="text/css">
   a.widelink { display: block; }
</style>
<tr>
  <td><%= link_to task.title, task_path(task.id), class: "widelink" %></td>
  <td>
    <% if task.staff %>
      <%= task.staff.name %>
    <% end %>
  </td>
  <td>
    <% if task.approver %>
      <%= task.approver.name %>
    <% end %>
  </td>
  <td><%= t("activerecord.attributes.task.enum.#{task.status}") %></td>
  <td><%= l task.deadline, format: :long %></td>
  <td><%= task.content %></td>
</tr>
