<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= t("activerecord.models.drawing") %></th>
      <th><%= t("activerecord.attributes.task.title") %></th>
      <th><%= t("activerecord.attributes.task.staff_id") %></th>
      <th><%= t("activerecord.attributes.task.approver_id") %></th>
      <th><%= t("activerecord.attributes.task.status") %></th>
      <th><%= t("activerecord.attributes.task.deadline") %></th>
      <th><%= t("activerecord.attributes.task.content") %></th>
      <th><%= t("activerecord.attributes.revision.revision_number") %></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr data-href="<%= task_path(task.id) %>"  class=<%="table-active" if task.completed? %>>
        <td>
          <p>
            <% if current_user == task.staff %>
              <%= link_to revision_assign_delete_task_path(task), method: :post do %>
                <i class="fas fa-minus"></i>
              <% end %>
            <% end %>
            <%= task.drawing.drawing_number %>
          </p>
          <p><%= task.drawing.title %></p>
        </td>
        <td><%= link_to task.title, task_path(task.id) %></td>
        <td>
          <% if task.staff %>
            <%= task.staff.name %>
          <% end %>
        </td>
        <td>
          <% if task.approver %>
            <%= task.approver.name %>
          <% end %>
        </td>
        <td>
          <%= t("activerecord.attributes.task.enum.#{task.status}") %><br>
          <% if current_user == task.approver && task.approval_waiting? %>
            <%= link_to approval_task_path(task), method: :post do %>
              <i class="fas fa-stamp"></i> OK
            <% end %>
          <% end %>
          <% if current_user == task.approver && task.completed? %>
            <%= link_to approval_delete_task_path(task), method: :post do %>
              <i class="fas fa-backspace"></i> NG
            <% end %>
          <% end %>
        </td>
        <td><%= l task.deadline, format: :date %></td>
        <td><%= task.content %></td>
        <td>
          <% if task.revision %>
            <%= task.revision.revision_number %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
