<div class="jumbotron text-center">
  <h2><%= @task.drawing.title %>: <%= t("activerecord.models.task") %><%= t("crud.show") %></h2>
</div>
<div class="container">

  <div class="card">
    <div class="card-header card-header-danger">
      <%= @task.title %>
      <% if current_user == @task.staff || current_user == @task.drawing.team.owner %>
        <%= link_to edit_task_path(@task) do %>
          <small><i class="fas fa-edit"></i> <%= t("activerecord.models.task") %><%= t("crud.edit") %></small>
        <% end %>
        <%= link_to task_path(@task), method: :delete, data: { confirm: I18n.t("confirm.destroy")} do %>
          <small><i class="fas fa-trash"></i> <%= t("activerecord.models.task") %><%= t("crud.destroy") %></small>
        <% end %>
      <% end %>
    </div>
    <% if @task.drawing.revisions.present? %>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= t("last") %><%= t("activerecord.attributes.revision.content") %>:</strong>
            </div>
            <div class="col-md-10">
              <%= link_to @task.drawing.revisions.last.content do %>
                <i class="far fa-file"></i> <%= "Rev.#{@task.drawing.revisions.last.revision_number}" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      <% if @task.revision %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <strong><%= t("activerecord.attributes.revision.content") %>:</strong>
            </div>
            <div class="col-md-10">
              <%= link_to @task.revision.content do %>
                <i class="far fa-file"></i> <%= "Rev.#{@task.revision.revision_number}" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.status") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= t("activerecord.attributes.task.enum.#{@task.status}") %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.deadline") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= l @task.deadline, format: :date %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.content") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= @task.content %>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list-group" id="references_area">
      <%= render partial: 'references/index', locals: { references: @references, task: @task } %>
    </ul>
    <ul class="list-group" id="evidences_area">
      <%= render partial: 'evidences/index', locals: { evidences: @evidences, task: @task } %>
    </ul>

  </div>
  <div id="reference_form_area">
    <%= render partial: 'references/form', locals: { reference: @reference, task: @task } %>
  </div>
  <% if current_user == @task.staff %>
    <div id="evidence_form_area">
      <%= render partial: 'evidences/form', locals: { evidence: @evidence, task: @task } %>
    </div>
  <% end %>
  <div class="action">
    <%= link_to t("back"), drawing_path(@task.drawing), class: "btn btn-secondary" %>
  </div>
</div>
