<h2><%= t("task.title.show") %></h2>
<div class="field">
  Title:<%= @task.title %>
</div>
<div class="field">
  Status:<%= @task.status %>
</div>
<div class="field">
  Deadline:<%= @task.deadline %>
</div>
<div class="field">
  Content:<%= @task.content %>
</div>
