<div class="jumbotron text-center">
  <h2><%= @task.drawing.title %>: <%= t("activerecord.models.task") %><%= t("crud.show") %></h2>
</div>
<div class="container">

  <div class="card">
    <div class="card-header card-header-danger">
      <%= @task.title %>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.status") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= t("activerecord.attributes.task.enum.#{@task.status}") %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.deadline") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= @task.deadline %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("activerecord.attributes.task.content") %>:</strong>
          </div>
          <div class="col-md-10">
            <%= @task.content %>
          </div>
        </div>
      </li>
      <div id="references_area">
        <%= render partial: 'references/index', locals: { references: @references, task: @task } %>
      </div>
      <div id="evidences_area">
        <%= render partial: 'evidences/index', locals: { evidences: @evidences, task: @task } %>
      </div>
    </ul>
  </div>
  <%= render partial: 'references/form', locals: { reference: @reference, task: @task } %>
  <% if current_user == @task.staff %>
    <%= render partial: 'evidences/form', locals: { evidence: @evidence, task: @task } %>
  <% end %>
</div>
