<h2><%= t("activerecord.models.task") %><%= t("crud.show") %></h2>
<div class="field">
  <%= t("activerecord.attributes.task.title") %>:<%= @task.title %>
</div>
<div class="field">
  <%= t("activerecord.attributes.task.status") %>:<%= t("activerecord.attributes.task.enum.#{@task.status}") %>
</div>
<div class="field">
  <%= t("activerecord.attributes.task.deadline") %>:<%= @task.deadline %>
</div>
<div class="field">
  <%= t("activerecord.attributes.task.content") %>:<%= @task.content %>
</div>
