<%= link_to notification_notification_reads_path(notification), method: :post, class: "list_link" do %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">
        <% if notification.subject.approver.icon.attached? %>
          <%= image_tag notification.subject.approver.icon.variant(resize:'50x50').processed, class: "small_icon" %>
        <% end %>
      </div>
      <div class="col-md-10">
        <small class="text-muted"><%= l notification.created_at, format: :short %></small><br>
        <%= notification.subject.approver.name %>さんが<br>
        <%= notification.subject.title %>の<br>
        承認を取り消しました！
      </div>
    </div>
  </li>
<% end %>
