<div class="jumbotron text-center">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="card-body">

          <% if @user.icon.attached? %>
            <%= image_tag @user.icon.variant(resize:'100x100').processed, class: "large_icon" %>
          <% end %>
          <h5 class="card-title"><%= @user.name %></h5>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body text-left">
          <h5 class="card-title border-bottom"><i class="far fa-address-card"></i> <%= t("activerecord.attributes.user.profile") %></h5>
          <p class="card-text"><%= simple_format(@user.profile) %></p>
          <p class="card-text">
            <small>
              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-edit"></i> <%= t("activerecord.models.user") %><%= t("crud.edit") %>
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="new_team_link">
        <%= link_to t("crud.new")+t("activerecord.models.team"), new_team_path, remote: true,
            class: "btn btn-lg btn-primary btn-block mb-1", id: "new_team_btn" %>
      </div>
      <div id="team-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div class="likes_questions_link">
        <%= link_to t("activerecord.models.like")+t("crud.index"), likes_path(user_id: @user.id), class: "btn btn-lg btn-primary btn-block mb-1" %>
      </div>
      <div class="card">
        <div class="card-header text-center">
          <i class="fas fa-users"></i> <%= t("activerecord.attributes.team_assign.team_id") %>
        </div>
        <div id="teams_area">
          <%= render partial: "teams/index", locals: { teams: @user.teams } %>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header text-center">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a href="#card1_user" class="nav-link active" data-toggle="tab">
                <i class="fas fa-book"></i> <%= t("activerecord.models.drawing") %><%= t("crud.index") %>
              </a>
            </li>
            <li class="nav-item">
              <a href="#card2_user" class="nav-link" data-toggle="tab">
                <i class="fas fa-pencil-ruler"></i> <%= t("activerecord.attributes.task.staff_id") %><%= t("activerecord.models.task") %>
              </a>
            </li>
            <li class="nav-item">
              <a href="#card3_user" class="nav-link" data-toggle="tab">
                <i class="fas fa-stamp"></i> <%= t("activerecord.attributes.task.approver_id") %><%= t("activerecord.models.task") %>
              </a>
            </li>
            <li class="nav-item">
              <a href="#card4_user" class="nav-link" data-toggle="tab">
                <i class="far fa-calendar-alt"></i> <%= t("calendar") %>
              </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div id="card1_user" class="tab-pane active">
              <%= render partial: "drawings/index", locals: { drawings: @user.teams.map{ |team| team.drawings }.flatten } %>
            </div>
            <div id="card2_user" class="tab-pane">
              <%= render partial: "tasks/table", locals: {tasks: @user.has_tasks } %>
            </div>
            <div id="card3_user", class="tab-pane">
              <%= render partial: "tasks/table", locals: {tasks: @user.has_approved_tasks } %>
            </div>
            <div id="card4_user", class="tab-pane text-left">
              <div id="events_calendar">
                <%= render partial: "calendars/calendar", locals: {tasks: @user.has_tasks | @user.has_approved_tasks } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
