<h2><%= t("activerecord.models.task") %><%= t("crud.show") %></h2>
<div class="field">
  <%= t("activerecord.attributes.user.name") %>:<%= @user.name %>
</div>
<div class="field">
  <%= t("activerecord.attributes.user.profile") %>:<%= @user.profile %>
</div>
