<p>
  <strong>
    <%= t("activerecord.attributes.revision.revision_number") %>:
    <%= revision.revision_number %>
  </strong>
</p>
<p>
  <%= link_to revision.content do %>
    <i class="far fa-file"></i> <%= t("activerecord.attributes.revision.content") %>
  <% end %>
</p>
<p>
  <%= revision.comment %>
</p>
<p>
  <%= link_to t("crud.edit"), edit_revision_path(revision.id), class: "btn btn-info" %>
</p>
