<ul class="list-group">
  <% current_user.company.customers.each do |customer| %>
    <% if customer.id.present? %>
      <%= link_to customer_path(customer.id), class: "link_to_question" do %>
        <li class="list-group-item">
          <% if customer.icon.attached? %>
            <%= image_tag customer.icon.variant(resize:'50x50').processed %>
          <% end %>
          <%= customer.name %>
          <%= customer.overview %>
          <object>
            <%= link_to t("crud.destroy"), customer_path(id: customer.id), method: :delete, remote: true,
                      data: { confirm: I18n.t("confirm.destroy")} %>
          </object>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
