<div class="jumbotron text-center">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="card-body">
          <% if @customer.icon.attached? %>
            <%= image_tag @customer.icon.variant(resize:'100x100').processed, class: "customer_image" %>
          <% end %>
          <h5 class="card-title"><%= @customer.name %></h5>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body text-left">
          <p class="card-text border-bottom">
            <%= t("activerecord.attributes.customer.phone_number") %>: <%= @customer.phone_number %>
          </p>
          <p class="card-text border-bottom">
            <%= t("activerecord.attributes.customer.location") %>: <%= @customer.location %>
          </p>
          <h5 class="card-title border-bottom"><%= t("activerecord.attributes.customer.overview") %></h5>
          <p class="card-text"><%= simple_format(@customer.overview) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="list-group">
    <strong>プロジェクト一覧</strong>
    <% @customer.projects.each do |project| %>
      <%= link_to project_path(project), class: "list_link" do %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2">
              <%= project.name %>
            </div>
            <div class="col-lg-10">
              <% project.drawings.each do |drawing| %>
                <%= drawing.title %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
