<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :customer_id %>
      <%= form.select :customer_id, current_user.company.customers.map{ |customer| [customer.name, customer.id] if customer.id }.compact %>
    </div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control form_del_project" %>
    </div>
    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control form_del_project" %>
    </div>
    <div class="field">
      <%= form.label :explanation %>
      <%= form.text_area :explanaeion, class: "form-control form_del_project" %>
    </div>
    <%= form.submit t("submit") %>
  </div>
<% end %>
