<div class="jumbotron text-center">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="card-body">
          <% if @project.customer.icon.attached? %>
            <%= image_tag @project.customer.icon.variant(resize:'100x100').processed, class: "customer_image" %>
          <% end %>
          <h5 class="card-title"><%= @project.customer.name %></h5>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body text-left">
          <p class="card-text border-bottom">
            <%= t("activerecord.attributes.project.name") %>: <%= @project.name %>
          </p>
          <p class="card-text border-bottom">
            <%= t("activerecord.attributes.project.location") %>: <%= @project.location %>
          </p>
          <h5 class="card-title border-bottom"><%= t("activerecord.attributes.project.explanation") %></h5>
          <p class="card-text"><%= simple_format(@project.explanation) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <ul class="nav nav-tabs card-header-tabs">
        <% j = 1 %>
        <% @project.drawings.map{ |drawing| drawing.categories }.flatten.uniq.each_with_index do |category, i| %>
          <% if i == 0 %>
            <li class="nav-item">
              <a href="#card<%= i %>_user" class="nav-link active" data-toggle="tab"><%= category.name %></a>
            </li>
          <% else %>
          <li class="nav-item">
            <a href="#card<%= i %>_user" class="nav-link" data-toggle="tab"><%= category.name %></a>
          </li>
          <% end %>
          <% j += 1 %>
        <% end %>
        <li class="nav-item">
          <a href="#card<%= j %>_user" class="nav-link" data-toggle="tab">カテゴリなし</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <% j = 1 %>
        <% @project.drawings.map{ |drawing| drawing.categories }.flatten.uniq.each_with_index do |category, i| %>
          <% if i == 0 %>
            <div id="card<%= i %>_user" class="tab-pane active">
              <%= render partial: "drawings/index", locals: {drawings: category.drawings & @project.drawings } %>
            </div>
          <% else %>
            <div id="card<%= i %>_user" class="tab-pane">
              <%= render partial: "drawings/index", locals: {drawings: category.drawings & @project.drawings } %>
            </div>
          <% end %>
          <% j += 1 %>
        <% end %>
        <div id="card<%= j %>_user" class="tab-pane">
          <%= render partial: "drawings/index", locals: {drawings: @project.drawings.select{ |drawing| drawing.categories.empty? } } %>
        </div>
      </div>
    </div>
  </div>
</div>
