<% if @company.errors.any? %>
  <ul>
    <% @company.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @company, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number %>
  </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>
  <div class="field">
    <%= form.label :overview %>
    <%= form.text_area :overview %>
  </div>
  <%= form.submit t("submit") %>
<% end %>
