<div class="jumbotron text-center">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="card-body">
          <% if @company.icon.attached? %>
            <%= image_tag @company.icon.variant(resize:'100x100').processed, class: "company_image" %>
          <% end %>
          <h5 class="card-title"><%= @company.name %></h5>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card-body text-left">
          <h5 class="card-title border-bottom"><%= t("activerecord.attributes.company.overview") %></h5>
          <p class="card-text"><%= simple_format(@company.overview) %></p>
          <p class="card-text">
            <small>
              <%= link_to edit_company_path do %>
                <i class="fas fa-edit"></i> <%= t("activerecord.models.company") %><%= t("crud.edit") %>
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <%= render "search_form" %>
    </div>
    <div>
      <%= render partial: 'users/table', locals: { users: @users } %>
    </div>
  </div>
</div>
