<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if category.id.present? %>
    <% id = category.id %>
  <% else %>
    <% id = 0 %>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control form_del_catebory", id: "category_name_#{id}"  %>
    </div>
    <div class="field">
      <%= form.label :explanation %>
      <%= form.text_area :explanation, class: "form-control form_del_catebory", id: "category_explanation_#{id}" %>
    </div>
    <%= form.submit t("submit"), id: "create_category_btn_#{id}" %>
  </div>
<% end %>
