<ul class="list-group">
  <% current_user.company.categories.each do |category| %>
    <% if category.id.present? %>
      <div id="category_<%= category.id %>">
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2">
              <%= category.name %>
            </div>
            <div class="col-lg-10">
              <%= category.explanation %>
              <object>
                <%= link_to edit_category_path(id: category.id), remote: true do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </object>
              <object>
                <%= link_to category_path(id: category.id), method: :delete, remote: true, data: { confirm: I18n.t("confirm.destroy")} do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </object>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  <% end %>
</ul>
