<ul class="list-group">
  <% current_user.company.categories.each do |category| %>
    <% if category.id.present? %>
      <div id="category_<%= category.id %>">
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-2">
              <%= category.name %>
            </div>
            <div class="col-lg-10">
              <%= category.explanation %>
              <object>
                <%= link_to t("crud.edit"), edit_category_path(id: category.id), remote: true %>
              </object>
              <object>
                <%= link_to t("crud.destroy"), category_path(id: category.id), method: :delete, remote: true,
                          data: { confirm: I18n.t("confirm.destroy")} %>
              </object>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  <% end %>
</ul>
