<!DOCTYPE html>
<html>
  <head>
    <title>DrawingManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <% if user_signed_in? %>
          <div id="team_coffee_datas", data-team_ids="<%= current_user.teams.map{ |team| team.id } %>", data-user_id="<%= current_user.id %>">
          </div>
          <%= link_to company_path(current_user.company), class: "navbar-brand" do %>
            <% if current_user.company.icon.attached? %>
              <%= image_tag current_user.company.icon.variant(resize:'50x50').processed, class: "small_icon" %>
            <% else %>
              <%= t("activerecord.models.company") %>
            <% end %>
          <% end %>
          <%= link_to t("my_page"), user_path(current_user), class: "navbar-brand" %>
          <%= link_to t("log_out"), destroy_user_session_path, method: :delete, class: "navbar-brand" %>
          <%= link_to "登録", new_user_invitation_path, class: "navbar-brand" %>
          <%= link_to "図面検索", drawings_path, class: "navbar-brand" %>

          <div class="dropdown navbar-brand">
            <button class="btn btn-primary dropdown-toggle" type="button" id="customer_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("activerecord.models.customer") %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% current_user.company.customers.select{|customer| customer.id }.each do |customer| %>
                <div>
                  <%= link_to customer.name, customer_path(customer), class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="dropdown navbar-brand">
            <button class="btn btn-primary dropdown-toggle" type="button" id="project_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t("activerecord.models.project") %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% current_user.company.customers.map{|customer| customer.projects }.flatten.each do |project| %>
                <div>
                  <%= link_to project.name, project_path(project), class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="dropdown navbar-brand">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-question-circle"></i> <%= t("activerecord.models.question") %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "質問一覧へ", questions_path, class: "dropdown-item" %>
              <% current_user.has_tasks.each do |task| %>
                <div>
                  <%= link_to task.title, new_question_path(task_id: task.id), class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="dropdown navbar-brand">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-bell"></i> <%= t("activerecord.models.notification") %> <span id="unread_notifications"><%= number_of_unread_notifications %></span>
            </button>
            <div class="container">
              <div class="dropdown-menu notification-menu" aria-labelledby="dropdownMenuButton">
                <ul class="list-group">
                  <% current_user.notifications.order(created_at: :desc).each do |notification| %>
                    <% unless notification.has_read_users.include?(current_user) %>
                    <div id="notifications">
                      <%= render partial: "notifications/#{notification.action_type}", locals: {notification: notification} %>
                    </div>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="dropdown navbar-brand">
            <button class="btn btn-primary dropdown-toggle" type="button" id="chat_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-comment"></i> <%= t("activerecord.models.message") %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% current_user.teams.each do |team| %>
                <div>
                  <%= link_to team.name, chat_team_path(team), class: "dropdown-item" %>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <%= link_to t("sign_up"), new_user_registration_path, class: "navbar-brand"  %>
          <%= link_to t("log_in"), new_user_session_path, class: "navbar-brand"  %>
        <% end %>
      </nav>
    </div>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer class="text-center">
    <p>Drawing Management</p>
  </footer>
</html>
