<!DOCTYPE html>
<html>
  <head>
    <title>DrawingManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'header' %>
    <%= stylesheet_pack_tag 'header' %>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <% if user_signed_in? %>
          <%= link_to "タスク投稿", tasks_path, class: "navbar-brand " %>
          <%= link_to t("log_out"), destroy_user_session_path, method: :delete, class: "navbar-brand" %>
        <% else %>
          <%= link_to t("sign_up"), new_user_registration_path, class: "navbar-brand"  %>
          <%= link_to t("log_in"), new_user_session_path, class: "navbar-brand"  %>
        <% end %>
      </nav>
    </div>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
